@import "font-variable";

footer {
  height: 40vh;
  background: linear-gradient(89.43deg, #007462 0.54%, #1d71b8 155.21%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;

  img {
    width: 10%;
    align-self: flex-start;
  }
  .linksFooter {
    font-family: $texto;
    color: white;
    font-size: $textoSize;
    align-self: flex-start;

    h6 {
      font-size: 1.1rem;
      font-family: $subtitulo;
    }

    ul {
      padding: 0% !important;
      li {
        text-decoration: none;
        list-style-type: none;
      }
    }
  }
  .redesFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    h6 {
      font-size: 1.1rem;
      font-family: $subtitulo;
      color: white;
    }
    .containerRedesFooter {
      margin-top: 10%;
      display: flex;
      .divRedesFooter {
        width: 1.1em;
        height: 2em;
        margin: 0 20px;
        position: relative;
        background-color: white;

        a i {
          z-index: 200;
          color: #007462;
          position: relative;
          font-size: 1.4rem;
          margin: auto;
          bottom: 5%;
          right: 12%;
        }
        a .faceFooter {
          z-index: 200;
          color: #007462;
          position: relative;
          font-size: 1.4rem;
          margin: auto;
          bottom: -15%;
          right: -5%;
        }
      }
      .divRedesFooter:before {
        background: inherit;
        content: "";
        height: 100%;
        position: absolute;
        transform: rotate(-60deg);
        transform-origin: 50% 50%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .divRedesFooter:after {
        background: inherit;
        content: "";
        height: 100%;
        position: absolute;
        transform: rotate(60deg);
        transform-origin: 50% 50%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktopSmall) {
  footer {
    height: 35vh;
    background: linear-gradient(89.43deg, #007462 0.54%, #1d71b8 155.21%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;

    img {
      width: 10%;
      align-self: flex-start;
    }
    .linksFooter {
      font-family: $texto;
      color: white;
      font-size: $textoSize;
      align-self: flex-start;

      h6 {
        font-size: 1rem;
        font-family: $subtitulo;
      }

      ul {
        padding: 0% !important;
        li {
          text-decoration: none;
          list-style-type: none;
          font-size: 0.8rem;
        }
      }
    }
    .redesFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      h6 {
        font-size: 1rem;
        font-family: $subtitulo;
        color: white;
      }
      .containerRedesFooter {
        margin-top: 10%;
        display: flex;
        .divRedesFooter {
          width: 1.1em;
          height: 2em;
          margin: 0 20px;
          position: relative;
          background-color: white;

          a i {
            z-index: 200;
            color: #007462;
            position: relative;
            font-size: 1.4rem;
            margin: auto;
            bottom: 5%;
            right: 12%;
          }
          a .faceFooter {
            z-index: 200;
            color: #007462;
            position: relative;
            font-size: 1.4rem;
            margin: auto;
            bottom: -15%;
            right: -5%;
          }
        }
        .divRedesFooter:before {
          background: inherit;
          content: "";
          height: 100%;
          position: absolute;
          transform: rotate(-60deg);
          transform-origin: 50% 50%;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        .divRedesFooter:after {
          background: inherit;
          content: "";
          height: 100%;
          position: absolute;
          transform: rotate(60deg);
          transform-origin: 50% 50%;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $celular) and (max-width: $tablet) {
  footer {
    height: 100%;
    background: linear-gradient(89.43deg, #007462 0.54%, #1d71b8 155.21%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 3%;
    padding-bottom: 30%;

    img {
      width: 30%;
      align-self: flex-start;
      margin: 0 auto;
    }
    .linksFooter {
      display: none;
    }
    .redesFooter {
      display: none;
    }
  }
}
