@import "font-variable";

.sucursales {
  height: 80vh;
  h2 {
    margin: 5% auto 15px auto;
    font-family: $titulo;
    text-align: center;
    font-size: $tituloSize;
    color: $colorTexto;
  }
  h6 {
    margin: 0% auto 5% auto;
    font-family: $subtitulo;
    text-align: center;
    font-size: $subtituloSize;
    color: $colorTexto;
  }
  .contenedorSucursales {
    margin: 5% 4%;
    .cardSucursales {
      display: flex;
      flex-direction: row;
      column-gap: 5%;
      justify-content: center;
      align-items: center;
      margin: 5% 0;

      img {
        width: 30%;
        height: auto;
        object-fit: cover;
      }
      .infoSucursales {
        width: 60%;
        height: 100%;
        border-left: 3px solid $colorTexto;
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        h4 {
          margin-left: 5%;
          margin-bottom: 3%;
          font-family: $subtitulo;
          font-size: 2rem;
        }
        p {
          margin-left: 5%;
          margin-bottom: 3%;
          font-family: $texto;
          font-size: $textoSize;
          width: 80%;
        }
        .contenedorInformacion {
          width: 70%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-left: 5%;
          div a {
            text-decoration: none;

            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          div a div {
            width: 24px;
            height: 24px;
            border: 1px solid #007462;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $colorPrimary;
          }
          div a p {
            padding-left: 20px;
            margin: 0;
            color: black;
            font-family: $texto;
            font-size: $textoSize;
          }
        }
      }
    }
    .cardSucursalesDos {
      display: flex;
      flex-direction: row-reverse;
      column-gap: 5%;
      justify-content: center;
      align-items: center;
      margin: 5% 0;

      img {
        width: 30%;
        height: 100%;
        object-fit: cover;
      }
      .infoSucursales {
        width: 60%;
        height: 100%;
        border-right: 3px solid $colorTexto;
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        h4 {
          margin-left: 10%;
          margin-right: 5%;
          margin-bottom: 3%;
          font-family: $subtitulo;
          font-size: 2rem;
        }
        p {
          margin-left: 10%;
          margin-right: 5%;
          margin-bottom: 3%;
          font-family: $texto;
          font-size: $textoSize;
          width: 80%;
        }
        .contenedorInformacion {
          width: 70%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-left: 10%;
          margin-right: 5%;
          div a {
            text-decoration: none;

            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          div a div {
            width: 24px;
            height: 24px;
            border: 1px solid #007462;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: $colorPrimary;
          }
          div a p {
            padding-left: 20px;
            margin: 0;
            color: black;
            font-family: $texto;
            font-size: $textoSize;
          }
        }
      }
    }
  }
}
